body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.header-container {
    background-color:#4C6D80;
    display: flex;
    width: 95%;
    margin: 1% auto;
    border-radius: 8vw / 8vw;
    margin-bottom: 2%;
}

#header_name_logo {
    flex: 55%;
    color: white;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.2vw;
    padding: 0.3vw;
}

.nav-links {
    color: white;
    flex: 45%;
    display: flex;
    gap: 7%;
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
}


#header_home_link, #header_experiences_link, #header_contact_me_link, #header_download_resume_link {
    text-decoration: none;
    color: inherit;
    font-size: 1.2vw;
    padding: 0.3vw;
}

#download_icon_pic {
    width: auto;
    height: 1.1vw;
}

#header_download_resume_link {
    border: 2px solid white;
    border-radius: 8vw / 8vw;;
}


/* creating the drop down menu */

.dropdown-link {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 6.6vw;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D2E4EC;
    min-width: 8vw;
    z-index: 1;
    border-radius: 0.5vw;
}

.dropdown-content a {
    color: white;
    padding: 0.8vw 1vw;
    text-decoration: none;
    display: block;
    font-size: 1.1vw;
}

.dropdown-link:hover + .dropdown .dropdown-content {
    display: block;
  }


.dropdown-link:hover .dropdown-content {
    display: block;
}

.dropdown-content:hover {
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


#main_box_and_expertise_container {
    display: flex;
    flex-direction: column;
}


#home-page-main-box {
    background-color:#81A1B8;
    display: flex;
    width: 100%;
    border-top-left-radius: 60%;
    border-top-right-radius: 5%;
}

#my_pic {
    height: auto;
    flex: 30%;
    max-width: 30%;
}

#home-page-inner-box {
    background-color: #FFFFFF;
    flex: 70%;
    color: #81A1B8;
    border-radius: 10%;
    margin-right: 2%;
    margin-top: 5%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

#about-me-paragraphs-home-page {
    margin: 10%;
    font-size: 1.4vw;
}

#expertise-section {
    display: flex;
    width: 100%;
    margin: 0% auto;
}

.expertise-box {
    flex: 25%;
    color: #4C6D80;
    border-radius: 2%;
    text-align: center;
    padding: 3%;
    margin-top: -2%;
    transition: transform 0.3s ease;
    margin: 2% 0%;
    margin-left: 2%;
}

.expertise-box:hover {
    transform: scale(1.1);
}

#medical_experience_box, #data_science_experience_box {
    background-color: #CED8E0;
}

#research_experience_box, #tutoring_experience_box {
    background-color: #9babb8;
}

#tutoring_experience_box {
    margin-right: 2%;
}

a {
    text-decoration: none;
    color: inherit;
}

.expertise-box-within-url {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expertise-box-intro {
    width: 100%;
    flex: 34%;
}

.expertise-box-link, .expertise-box-image{
    width: 100%;
    flex: 33%;
}

#computer_pic, #graduation_hat_pic, #stethoscope_pic, #microscope_pic {
    width: auto;
    height: 2vw;
}


#medical_experience_box_link, #research_experience_box_link, #data_science_experience_box_link, #tutoring_experience_box_link {
    width: 100%;
    font-size: 1.4vw;
}

#medicine_experience_small_intro, #research_experience_small_intro, #data_science_experience_small_intro, #tutoring_experience_small_intro {
    font-size: 1.3vw;
    width: 100%;
}

/* contact_me.html styles */
#contact_me_form {
    max-width: 60%;
    margin: 5vw auto;
    padding: 1.5vw;
    border: 0.2vw solid #ccc;
    border-radius: 0.5vw;
    background-color: #81A1B8;
}

#contact_me_form h1 {
    text-align: center;
    font-size: 2vw;
    margin-bottom: 2vw;
    color: #223642;
}

.contact-container .form-group {
    margin-bottom: 1.4vw;
}

.contact-container .form-group label {
    display: block;
    font-weight: bold;
    font-size: 1.2vw;
    margin-bottom: 0.2vw;
    color: #223642;
}

#full_name_label {
    display: block;
    font-weight: bold;
    font-size: 1.2vw;
    margin-bottom: 0.2vw;
    color: #223642;
}

#full_name_and_prefix_div {
    display: inline-flex;
    width: 100%;
}

#full-name {
    font-size: 1vw;
    flex: 40%;
    max-width: 40%;
    padding: 0.8vw;
    border-radius: 0.2vw;
    border: 0.01vw solid #ccc;
}

#name-prefix {
    flex: 5%;
    max-width: 5%;
    border-radius: 0.2vw;
    margin-right: 1.5%;
    vertical-align: middle;
    border: 0.01vw solid #ccc;
    font-size: 1vw;
}


#email {
    font-size: 1vw;
    width: 46.5%;
    padding: 0.8vw;
    border-radius: 0.2vw;
    border: 0.01vw solid #ccc;
}

#subject {
    font-size: 1vw;
    width: 46.5%;
    padding: 0.8vw;
    border-radius: 0.2vw;
    border: 0.01vw solid #ccc;
}

#message {
    font-size: 1vw;
    width: 90%;
    min-height: 8vw;
    padding: 0.8vw;
    border-radius: 0.2vw;
    border: 0.01vw solid #ccc;
}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -50px 0 0 0 !important;
    z-index: -999999;
    opacity: 0;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1vw 2vw;
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.2vw;
    cursor: pointer;
}



/* experience pages style */


.experience_page_container {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
}

#experience_page_header {
    background-color: #81A1B8;
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 1.5vw;
    color: #FFFFFF;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    margin-bottom: 100px;
}


.timeline {
    position: relative;
    min-height: 150px;
}

.line {
    position: absolute;
    z-index:  1;
    left: calc(50% - 1px);
    width: 2px;
    top: -50px;
    bottom: -50px;
    background-color: #000;
    display: none;
}

.line::before, .line::after {
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
    z-index:  2;
}

.line::after {
    bottom: 0;
}

.section {
    display: flex;
    opacity: 0;
    transform: translate(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 3;
    margin: 60px 0;
    padding: 1rem;
    min-height: 250px;
    will-change: transform;
}

.section:nth-child(odd) {
    flex-direction: row-reverse;
    transform: translateX(100%);
}

.section:hover .bead {
    background-color: black;
}

.bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: solid black 2px;
    background-color: white;
    left: 50%;
    top: 36px;
    transform: translateX(-50%);
    transition: all 500ms;
}

.date {
    margin-left: 40px;
    margin-right: 40px;
}

.content {
    width: calc(50% - 2rem);
    border-top: solid black;
    padding: 5px;
    border-radius: 10px / 10px;
    margin-top: 25px;
}

.section_image {
    display: block;
    width: 100%;
    height: auto;
}

.show-me:nth-child(n) {
    transform: none;
    opacity: 1;
}

.end-text {
    position: absolute;
    left: calc(50% - 105px);
    bottom: -50px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    white-space: pre;
    transition: transform 600ms, opacity 600ms;
}
